body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff ,#007bff);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: lavenderblush;
  
}

#addTaskBtn {
    padding: 11px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
#addTaskBtn:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}
#delete {
    
    background-color: #bfe9ff;
    padding: 10px 20px;
  float: right;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#delete:hover {
    background-color: #007bff;
    color: #fff;
}
#colo{
    color: #007bff;
}